.NavBarItems {
    background: white;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10.75pt;
    text-decoration: none; 
    
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    width: 54vw;
    justify-content: end;
    margin-right: 220px;
    margin-top: 19px;
    
}

.logo {
    position: absolute;
    margin-right: 1023px;
    margin-top: 5px;
    padding: 5px;
    
}

.nav-menu li {
    position: relative;
  }
  
  .nav-menu li:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    top: 38px;
    left: 0;
    background-color: #3382b1;
    transition: all 0.3s ease-in-out;
    opacity: 0; 
  }
  
  .nav-menu li:hover::after {
    opacity: 1;
  }

.nav-icons{
    display: grid;
    grid-template-columns: repeat(4, auto); /*[first] 20px [line2] 20px [line3] 20px [col4-start] 0px [five] 20px [end]; */
    grid-gap: 25px;
    list-style: none;
    text-align: center;
    justify-content: end;
    margin-top: 25px;
    margin-right: 20vw;
    
}

.SignButton{
    background-color: white;
    border: none;
    text-align: center;
    width: 45px;
    position: absolute;
    right: 410px;
    top: 20px;
}

.SignButton:Hover{
    text-decoration: underline;
}


