table {
width: 100%;
display: table;
border-collapse: collapse;
}

tr {
border-bottom: 1px solid #ccc;
}

tr:nth-child(even) {
background-color: #f2f2f2;
}
tr:nth-child(odd) {
background-color: #ffffff;
}

/* td, th {
text-align: left;
vertical-align: top;
padding: 8px 8px;
} */

.table th {
  padding: 8px 10px;
  border-bottom: 1px solid #1a1a1a;
  font-weight: bold;
  text-align: left;
  background-color: #82b0ff;
  border-bottom: 2px solid #000000;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
  transition: 0.25s;
}

th.up,
th.default,
th.down {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
}

/* background: grey;
color: white;
transition: 0.1s; */
.table th.up {
  background-color: gainsboro;
  background-image: url("./images/up_arrow.png");
}
.table th.down {
  background-color: gainsboro;
  background-image: url("./images/down_arrow.png");
}
.table th.default {
  background-image: url("./images/default.png");
}

.table th:not([data-accessor="Actions"]):hover {
  background-color: white;
  color: grey;
  transition: 0.25s;
}

.highlight-row {
  background-color: yellow !important;
  transition: background-color 2.5s ease-in-out;
}

.highlight-row.fade-out {
  background-color: transparent;
}

.highlight-new-receipt {
  background-color: yellow; 
  transition: background-color 3s ease-out;
}

.highlight-cell {
  background-color: yellow;
  transition: background-color 1s ease-in-out, opacity 3s ease-in-out;
}

.fade-out {
  background-color: transparent !important;
  opacity: 1 !important;
}
