
.SideButtons{
  background-color: #106666;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  width: 300px;
  margin-bottom: 5px;
}
.RecButton{
  background-color: #106666;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  width: 300px;
  margin-top: 590px;
}

.SideButtons:Hover{
  background-color: #0a4242;
  color: WHITE;
}

.Headings{
  position:absolute;
  top: 70px;
  left: 320px;
}

.Subheading{
  position:absolute;
  top: 130px;
  left: 320px;
}